@use "../mixins" as m;


.navbigbox{
    position:fixed;
    padding:10px 5px;
    width:100%;
    background: whitesmoke;
    top:0;
    z-index:1000;

}



.navbox{
        margin:0;
        padding:15px 5px;
        display:flex;
        flex-wrap:wrap;
        align-items: center;

        &__bar a i::before {
        font-size: 3.5rem;
        padding: 10px 5px;
            }

        &__item{
            width:100%;
            order:3;
            display:none;
            padding: 15px 5px 5px;

            &:hover{
                background-color: rgba(190, 197, 197, 0.922);
            }
        }

        &__logo{
            order:0;
            flex:1.3;
        }

        &__bar{
            order:1;
            padding-right:20px;
            display:flex;
            justify-content: flex-end;
           
        }
}

// class for opening the menu for mobile devices
.open-navbox{

    .navbox__item{
        display:block;
    }
}


// tablet navbar- width:600px

@include m.device(600px)
{
    .navbox{
        

        a{
            font-size: 2.5rem;
        }
        
        &__tab{
            width:auto;
            display:block;
            order:1;
            padding-top:0;
            padding-right:10px;
        }
            
        &__bar{
            order:2;
            flex:0.1;
        }
        &__logo{
        flex:1;
        }
        
    }
}


//desktop navbar - > width:960px

@include m.device(960px)
{
    .navbox{
        padding-top:0;
        padding-bottom: 0;
        
        a{
            font-size: 2.5rem;
        }

        &__item{
            width:auto;
            display:block;
            order:1;
            padding-top:0;
            padding-right:30px;
        }
        &__bar{
            display:none;
        }
    }
}